/* CORPS DE PAGE */

[class*="col-"], footer{

    /*border: 2px solid green;
    border-radius: 6px;*/

    line-height: 40px;

    text-align: center;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
body{
    /*background: url("/res/images/fond2.jpg") fixed;*/
    background-color: #343a40;
    margin: 0;
}
header{
    background-color: darkorange;
}
div#entete{
    padding-top: 10px;
    text-align: center;
}
a.titre{
    font-size: 40px;
    text-align: center;
}
hr.hr-news{
    background-color: black;
    height: 2px;
    border-radius: 10px;
}
hr.separateur{
    background-color: white;
    height: 5px;
    border-radius: 10px;
}
h4.white{
    color: white;
    text-align: center;
}

/* BOUTONS */

.btn{
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;

    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: white;

}
.btn:hover{
    border-color: black;
    color: white;
    background-color: black;
}
.btn-valid{
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;

    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: white;
}
.btn-valid:hover{
    border-color: green;
    color: white;
    background-color: green;
}
#btn-add{
    border: 3px solid dodgerblue;
}
#btn-add:hover{
    border-color: green;
    background-color: green;
}
#btn-delete{
    border: 2px solid black;
}
#btn-delete:hover{
    background-color: red;
}


/* FORMULAIRES */

input{
    border: 2px solid white;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
label{
    color: white;
}
textarea{
    resize: none;
    border: 2px solid white;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
.formulaire{
    margin-top: 300px;
}


/* PAGE NEWS */

#news{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    text-align: justify;
}
#auteur-news{

}


/* PAGE RECHERCHE */

#recherche{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;

}


/* PAGE COMMENTAIRE */

#ajoutcommentaire{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}
#form-commentaire{
    text-align: center;
}
#ajoutcommentaire{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}


/* PAGE ERREUR */

#erreur{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}
#titre-erreur{
    color: red;
    font-size: 70px;
}


/* PAGE CONNEXION */
#connexion{
    color: white;
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}
#index-news{
    margin-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}
#index-news-contenu{
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    text-align: justify;
}


#contenu-news{
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
}


